{% extends "layout.njk" %}
    
{% block content %}
  <section class="not-found">
    <div class="container">
      <h2 class="not-found__title">Essa página não existe.</h2>
    </div>
  </section>
{% endblock %}